{% extends 'admin/base.html.twig' %}

{% block title %}الأيتام{% endblock %}

{% block body %}
 
   <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">إدارة الأيتام</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="{{ path('admin_dashboard') }}">لوحة القيادة</a></li>
              <li class="breadcrumb-item active">الأيتام</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    <h1 class="text-center mt-3 mb-3"> معلومات اليتيم </h1>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-5 border ml-2 mr-2 mb-2">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordred" dir="rtl">
                        <h4 class="text-center"> معلومات الكافل</h4>
                            <tbody>
                             {% for key, garan in garant %}
                                <tr>
                                    <th class="text-center">الرقم</th>
                                    <td class="text-center">{{ garan.id }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأول</th>
                                    <td class="text-center">{{ garan.name }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأخير</th>
                                    <td class="text-center">{{ garan.paye }}</td>
                                </tr>
                                
                                <tr>
                                    <th class="text-center">الحالة</th>
                                    <td class="text-center">{{ garan.email }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordred" dir="rtl">
                        <h4 class="text-center"> معلومات الكفالة</h4>
                            <tbody>
                            {% for kafal in kafala %}
                                <tr>
                                    <th class="text-center">الرقم</th>
                                    <td class="text-center">{{ kafal.id }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأول</th>
                                    <td class="text-center">{{ kafal.setAtdebut|date('Y-m-d') }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأخير</th>
                                    <td class="text-center">{{ kafal.type }}</td>
                                </tr>
                                
                                <tr>
                                    <th class="text-center">الحالة</th>
                                    <td class="text-center">{{ kafal.periode }}</td>
                                </tr>
                            {% endfor %}
                           
                              {% for key, kafal in kafala %}
                                <tr>
                                    <th class="text-center">الرقم</th>
                                    <td class="text-center">{{ kafal.id }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأول</th>
                                    <td class="text-center">{{ kafal.setAtdebut|date('Y-m-d') }}</td>
                                </tr>
                                <tr>
                                    <th class="text-center">الاسم الأخير</th>
                                    <td class="text-center">{{ kafal.type }}</td>
                                </tr>
                                
                                <tr>
                                    <th class="text-center">الحالة</th>
                                    <td class="text-center">{{ kafal.periode }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border">
                <table class="table table-bordred" dir="rtl">
                    <h4 class="text-center"> معلومات اليتيم   </h4>
                    <tbody>
                        <tr>
                            <th class="text-center">الرقم</th>
                            <td class="text-center">{{ orphelin.id }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">الاسم الأول</th>
                            <td class="text-center">{{ orphelin.firstName }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">الاسم الأخير</th>
                            <td class="text-center">{{ orphelin.lastName }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">صورة</th>
                            <td class="text-center"><img style="max-height: 130px;min-height: 130px;" src="{{ asset('/admin/upload/orphelin/'~ orphelin.image) }}"></td>
                        </tr>
                        <tr>
                            <th class="text-center">تاريخ التسجيل</th>
                            <td class="text-center">{{ orphelin.setAt ? orphelin.setAt|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">العنوان</th>
                            <td class="text-center">{{ orphelin.adresse }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">الجنس</th>
                            <td class="text-center">{{ orphelin.genre }}</td>
                        </tr>
                        <tr>
                            <th class="text-center">الحالة</th>
                            <td class="text-center">{{ orphelin.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="col-md-12 mt-2 text-center">
                <div class="row" dir="rtl">
                    <div class="col">
                        <a class="btn btn-success" href="{{ path('orphelin_edit', {'id': orphelin.id}) }}"><i class="fas fa-edit "></i> تعديل</a><br>
                    </div>
                    <div class="col">
                        <a class="btn btn-primary " href="{{ path('orphelin_index') }}"><i class="fas fa-undo"></i> رجوع </a>
                    </div>
                    <div class="col">
                    {{ include('admin/orphelin/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
    </div>
 </div>
</div></div>
{% endblock %}
