{% extends 'admin/base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
 <div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Gestion des Annonces</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item "><a href="{{ path('admin_dashboard') }}">Table de bord</a></li>
              <li class="breadcrumb-item" ><a href="{{ path('post_index') }}">Annonces</a></li>
              <li class="breadcrumb-item active">Information de la  Annonce</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    <div class="container">
    <h1 class="text-center mt-3 mb-3">Information de la Annonce</h1>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description|raw }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td class="text-center"><img style="max-height: 230px;border-radius: 10%;" src="{{ asset('/admin/upload/post/'~ post.image) }}" ></td>
            </tr>
         
          
                
                    {% for image in  post.images %}  
                    <tr>
                    <th class="text-center"> Autre Images : {{ image.caption }}</th>
                    <td class="text-center">  
                            <a class="lightbox  thumbnail " href="{{ asset('/admin/upload/post/'~ image.lien) }}"  class="team-img" title="مبادرة لغة اليتيم الأول">
                            <img style="max-height: 200px;" src="{{ asset('/admin/upload/post/'~ image.lien) }}" class="team-img"></a>
                      </td> 
                      </tr>
                    {% endfor %}
            <tr>
                <th>Date </th>
                <td>{{ post.setAt ? post.setAt|date('d-m-Y') : '' }}</td>
            </tr>
           
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('post_edit', {'id': post.id}) }}"><i class="fas fa-edit "></i> Modifier</a><br>
    <a class="btn btn-primary mt-3" href="{{ path('post_index') }}"><i class="fas fa-undo"></i> Retour</a>
    {{ include('admin/post/_delete_form.html.twig') }}
 </div>
 </div>
{% endblock %}
