{% extends 'base.html.twig' %}

{% block title %}الاخبار!{% endblock %}

{% block body %}
<br><br>
<div class="newThemeHeader">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center newThemeHeaderIn ">
                    {{ posts.titre }} 
            </div>
        </div>
    </div>
</div>
<div class="container marketing">
<section class="content ">
    <div class="contentView clearfix pure-form">
        <div class="col-md-12 col-sm-12 col-xs-12 list_view_1 bootstrap_noPadding" >
            <div class="thumbnail block_1"> <br>
                <img <img src="{{ asset('/admin/upload/post/'~ posts.image) }}"  class="team-img"  class="team-img"><br>
                <div class="caption">
                    <div class="list_view_1_body">التاريخ:
                        <a href="" target="_blank">{{ posts.setAt|date('Y-m-d') }}</a>
                        <p><span style="font-size:20px;">
                            {{ posts.description|raw }}
                        </span></p>
                    </div>
                    <div class="list_view_1_body_Imgs">
                    </div>
                </div>
                <div class="list_view_1_body_Imgs">
                    {% for image in  posts.images %}    
                        <div class="col-md-2 col-sm-4 col-xs-6 text-center ">
                            <a class="lightbox  thumbnail " href="{{ asset('/admin/upload/post/'~ image.lien) }}"  class="team-img" title="مبادرة لغة اليتيم الأول">
                            <img src="{{ asset('/admin/upload/post/'~ image.lien) }}" class="team-img"></a>
                        </div>
                    {% endfor %}
                       
                </div>
                </div>
            </div>
        </div>
    </section>
</div>

 {% endblock %}